.appearLTR-enter, .appear-appear {
  opacity: 0;
  transform: translateX(-50%);
}

.appearLTR-enter-active, .appear-appear-active {
  opacity: 1;
  transform: translateX(0);
  transition: all 0.7s;
}

.appearLTR-exit {
  opacity: 1;
  transform: translateX(0);
  transition: all 0.7s;
}

.appearLTR-exit-active {
  opacity: 0;
  transform: translateX(50%);
  transition: all 0.7s;
}

.appearRTL-enter {
  opacity: 0;
  transform: translateX(30%);
}

.appearRTL-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: all 0.7s;
}

.appearRTL-exit {
  opacity: 1;
  transform: translateX(0);
  transition: all 0.7s;
}

.appearRTL-exit-active {
  opacity: 0;
  transform: translateX(30%);
  transition: all 0.7s;
}

.appearTTB-enter {
  opacity: 0;
  transform: translateY(30%);
}

.appearTTB-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: all 0.7s;
}

.appearTTB-exit {
  opacity: 1;
  transform: translateY(0);
  transition: all 0.7s;
}

.appearTTB-exit-active {
  opacity: 0;
  transform: translateY(30%);
  transition: all 0.7s;
}
