.appearLTR-enter, .appear-appear {
  opacity: 0;
  transform: translateX(-50%);
}

.appearLTR-enter-active, .appear-appear-active {
  opacity: 1;
  transform: translateX(0);
  transition: all 0.7s;
}

.appearLTR-exit {
  opacity: 1;
  transform: translateX(0);
  transition: all 0.7s;
}

.appearLTR-exit-active {
  opacity: 0;
  transform: translateX(50%);
  transition: all 0.7s;
}
