.chat_window {
  width: 100%;
  height: calc(100% - 52px);
  overflow: overlay;
  display: flex;
  flex-direction: column;
}
.chat_window::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
.chat_window::-webkit-scrollbar-thumb {
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  background-color: #a08585;
}
.chat_window::-webkit-scrollbar-track {
 background-color: transparent;
}