.response_dialog {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  margin: 10px 0 10px 0;
}
.response_infor_title {
  display: flex;
  justify-content: space-between;
  margin-left: 60px;
}
.response_operation {
  transform: rotate(90deg);
  position: relative;
  cursor: pointer;
}
.response_infor_name {
  font-size: 10px;
  color: rgb(90, 99, 99);
}
.response_infor_time {
  font-size: 10px;
  color: rgb(90, 99, 99);
  margin-left: 5px;
}
.response_infor_body {
  display: flex;
  align-items: flex-start;
}
.response_infor_content {
  font-size: 15px;
  color: white;
  background-color: #5f5c76;
  max-width: 280px;
  border-radius: 3px;
  padding: 8px;
  word-wrap:break-word; 
}
.response_portrait {
  width: 34px;
  height: 34px;
  margin: 0px 11px 0px 11px;
  border-radius: 50%;
  background-color: rgb(68, 211, 16);
  flex-shrink: 0;
}