.show_drawer_button {
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.show_drawer_button div {
  font-size: 25px;
}
@media (min-width: 600px) {
  .show_drawer_button {
    display: none;
  }
}
@media (max-width: 599px) {
  .show_drawer_button {
    display: flex;
  }
}