.show_drawer_button {
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.show_drawer_button div {
  font-size: 25px;
}
.mask_show {
  position: absolute;
  background-color: rgb(0, 0, 0,0.8);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
@media (min-width: 600px) {
  .show_drawer_button {
    display: none;
  }
}
@media (max-width: 599px) {
  .show_drawer_button {
    display: flex;
  }
}