.fade-enter, .fade-appear {
  opacity: 0;
  transform: translateY(100%);
  transition: all 2s ease-out;
}
.fade-enter.fade-enter-active, .fade-appear.fade-appear-active {
  opacity: 1;
  transform: translateY(0);
  transition: all 2s ease-out;
}
.fade-enter-done {
  opacity: 1;
  transform: translateY(0);
  transition: all 2s ease-out;
}
.fade-exit {
  opacity: 1;
  transform: translateY(0);
  transition: all 2s ease-out;
}
.fade-exit.fade-exit-active {
  opacity: 1;
  transform: translateY(-100%);
  transition: all 2s ease-out;
}
.fade-exit-done {
  opacity: 0;
  transform: translateY(-100%);
  transition: all 2s ease-out;
}