.App {
  text-align: center;
  height: 80%;
  width: 60%;
  min-height: 300px;
  background-color: rgb(69, 53, 129);
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

