.topNavigation {
  width: 100%;
  height: 55px;
  background-color: rgb(219, 188, 188);
  display: flex;
  align-items: center;
  position: relative;
  top: 0;
  left: 0;	
  box-shadow: 0px 5px 12px -7px #674B8C;
}
.abs_position {
  position: absolute;
  top: 0;
}